<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <header>
        <form action="/create" method="post">
            <input
                type="text"
                name="task"
                id="task"
                placeholder="Insira uma tarefa"
                <% if (task) { %> value="<%= task.task %>" <% } %>
            />
            <button id="addButton" type="submit"><%= task ? 'Editar' : 'Adicionar' %></button>
            <% if (task) { %>
                <a href="/">Cancelar</a>
            <% } %>
        </form>
    </header>
    <a href="/logout">Sair</a>

    <section id="tasks">
        <ul>
            <% tasksList.forEach((task) => { %>
                <li>
                    <%= task.task %> | <%= task.date.toLocaleDateString('pt-BR') %>
                    <a href="/getById/<%= task._id %>">Editar</a>
                    <button onclick="confirmDelete('<%= task._id %>')">Apagar</button> 
                </li>
            <% }) %>
        </ul>
    </section>

    <script src="script.js"></script>
</body>
</html>
